
#ignore thumbnails created by windows
Thumbs.db
package*/
build*/
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vs10x
*.ncrunchsolution
*.ncrunchproject
/local.properties
/db/create.database.*
/db/DBDEPLOY.mdf
/db/DBDEPLOY_log.ldf
/dist
!/src/Net.Sf.Dbdeploy/Resources/*
bintree.api.key
bintray.api.key
