<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="db.connection" value="Server=localhost;Initial Catalog=DBDEPLOY;User Id=DBDeployUser;Password=password" />
    <add key="db.type" value="mssql" />
    <add key="db.tableName" value="ChangeLog" />
  </appSettings>
</configuration>