<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnString" value="Server=.;Initial Catalog=DBDEPLOY;User Id=DBDeployUser;Password=Password01" />
    <add key="ConnString-2ARMITAGE" value="Server=.;Initial Catalog=DBDEPLOY;Trusted_Connection=true" />
    <add key="MySqlConnString" value="Server=192.168.1.112;Initial Catalog=DBDEPLOY;User Id=root;Password=password" />
    <add key="OracleConnString" value="data source=ORACLE;user id=scott;password=tiger" />
    <add key="Db2ConnString" value="Driver={IBM DB2 ODBC DRIVER};DataBase=DB1; HostName=192.168.72.135; Protocol=TCPIP;Port=50000;Uid=root;Pwd=password;CurrentSchema=DB01;DB2NETNamedParam=1;HostVarParameters=1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
