<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnString" value="Server=.\SQLEXPRESS;Initial Catalog=DBDEPLOY;User Id=DBDeployUser;Password=Password01"/>
    <add key="OracleConnString" value="data source=ORACLE;user id=scott;password=tiger"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
