<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnString" value="Server=.;Initial Catalog=DBDEPLOY;User Id=DBDeployUser;Password=Password01"/>
    <add key="ConnString-2ARMITAGE" value="Server=.;Initial Catalog=DBDEPLOY;Trusted_Connection=true"/>
    <add key="OracleConnString" value="data source=ORACLE;user id=scott;password=tiger"/>
    <add key="PostgresConnString" value="Server=127.0.0.1;Port=5432;User Id=postgres;Password=C0mplexPwd;Database=dummy;" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
