#foreach($script in $scripts)

-- START UNDO OF CHANGE SCRIPT $script

BEGIN TRANSACTION
GO

$script.GetUndoContent()

DELETE FROM $changeLogTableName WHERE Folder = '$script.Folder' AND ScriptNumber = $script.ScriptNumber
GO

COMMIT
GO

-- END UNDO OF CHANGE SCRIPT ${script}

#end
