#foreach($script in $scripts)

-- START CHANGE SCRIPT $script

BEGIN TRANSACTION
GO

$script.getContent()

INSERT INTO ${changeLogTableName} (ScriptNumber, CompleteDate, AppliedBy, FileName)
 VALUES ($script.getId(), getdate(), user_name(), '$script.getDescription()')
GO

COMMIT
GO

-- END CHANGE SCRIPT $script

#end