#foreach($script in $scripts)

-- START CHANGE SCRIPT $script

BEGIN TRANSACTION
GO

$script.getContent()

INSERT INTO ${changeLogTableName} (Folder, ScriptNumber, FileName, StartDate, CompleteDate, AppliedBy, Status, Output)
 VALUES ('$script.Folder', $script.ScriptNumber,'$script.FileName', getdate(), getdate(), user_name(), 1, '')
GO

COMMIT
GO

-- END CHANGE SCRIPT $script

#end