#foreach($script in $scripts)

-- START UNDO OF CHANGE SCRIPT ${script}

START TRANSACTION${separator}${delimiter}

${script.getUndoContent()}

DELETE FROM ${changeLogTableName} WHERE Folder = '$script.Folder' AND ScriptNumber = $script.ScriptNumber$!{separator}${delimiter}

COMMIT$!{separator}${delimiter}

-- END UNDO OF CHANGE SCRIPT ${script}

#end