#foreach($script in $scripts)

-- START CHANGE SCRIPT ${script}

${script.getContent()}

INSERT INTO ${changeLogTableName} (Folder, ScriptNumber, FileName, StartDate, CompleteDate, AppliedBy, Status, Output)
 VALUES ('${script.Folder}', ${script.ScriptNumber}, '${script.FileName}', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, USER, 1, '')${separator}${delimiter}

COMMIT${separator}${delimiter}

-- END CHANGE SCRIPT ${script}

#end